<HTML>
    <HEAD>
        <TITLE>This is the home of my blog app</TITLE>
    </HEAD>
    <BODY BGCOLOR="FFFFFF">
    <HR>
        <H1>This site serves as an example page for Ruby on Rails</H2>
        <h2>This is the about page</h2>
        <%= link_to 'Home', root_path %>
        </br><%= image_tag'rabbot.jpg'%>
    <HR>
    </BODY>
</HTML>


