<div class="center jumbotron">
  <div class="container">
    <h1>Tony's Alpha blog</h1>
    <h2>This site serves as an example project written in Ruby on Rails</h2>
    <%= image_tag'rabbot.jpg'%><br/>
    <%= link_to 'Sign up now', "#", class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>
</div>
