<HTML>
    <HEAD>
        <TITLE>This is the home of my blog app</TITLE>
    </HEAD>
    <BODY BGCOLOR="FFFFFF">
    <CENTER><IMG SRC="clouds.jpg" ALIGN="BOTTOM"> </CENTER>
    <HR>
        <H1>This is the HOME page</H1>
        <H2>This site serves as an example page for Ruby on Rails</H2>
        <%= link_to 'About', about_path %>
        </br><%= image_tag'rabbot.jpg'%>
    <HR>
    </BODY>
</HTML>